.DJResult_textbox {
  background-color: rgb(71, 191, 231);
  border: none;
  color: rgb(228, 117, 14);
  font-family: "맑은 고딕", Arial, sans-serif;
  font-size: calc(23px + 2vmin);
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  width: fit-content;
  margin: 20px auto;
}
