.Home {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "맑은 고딕", Arial, sans-serif;
  font-size: calc(12px + 2vmin);
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}
.app-name {
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}
/* 네비게이션 */
.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px; /* 버튼 간격 */
  padding: 20px 0;
}

.home-content {
  width: 100%;
  justify-content: center;
}

.nav-btn {
  font-family: Arial, "맑은 고딕", sans-serif;
  font-weight: bold;
  font-size: calc(14px + 2vmin);
  background: none;
  border: none;
  cursor: pointer;
}
